In [2]:
import pandas as pd
import numpy as np

## Concatenating dataframes vertically

In [3]:
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

df2 = pd.DataFrame({'A': [4, 5, 6], 'B': [7, 8, 9]})

result = pd.concat([df1, df2])

result

   A  B
0  1  4
1  2  5
2  3  6
0  4  7
1  5  8
2  6  9

## Joining dataframes horizontally

In [4]:
df1 = pd.DataFrame({'key': ['A', 'B', 'C'], 'value': [1, 2, 3]})

df2 = pd.DataFrame({'key': ['B', 'C', 'D'], 'value': [4, 5, 6]})

result = pd.merge(df1, df2, on='key', how='outer')

print(result)

  key  value_x  value_y
0   A      1.0      NaN
1   B      2.0      4.0
2   C      3.0      5.0
3   D      NaN      6.0

## Pivoting a dataframe

In [5]:
df = pd.DataFrame({'A': ['foo', 'foo', 'bar', 'bar'], 'B': ['one', 'two', 'one', 'two'], 'C': [1, 2, 3, 4], 'D': [5, 6, 7, 8]})

result = df.pivot(index='A', columns='B', values='C')

result

B    one  two
A
bar    3    4
foo    1    2

## Melting a dataframe

In [6]:
df = pd.DataFrame({'A': ['foo', 'foo', 'bar', 'bar'], 'B': ['one', 'two', 'one', 'two'], 'C': [1, 2, 3, 4], 'D': [5, 6, 7, 8]})

result = pd.melt(df, id_vars=['A', 'B'], value_vars=['C', 'D'])

result

     A    B variable  value
0  foo  one        C      1
1  foo  two        C      2
2  bar  one        C      3
3  bar  two        C      4
4  foo  one        D      5
5  foo  two        D      6
6  bar  one        D      7
7  bar  two        D      8

## Stack and unstack

In [9]:
df = pd.DataFrame({'A': ['foo', 'foo', 'bar', 'bar'], 'B': ['one', 'two', 'one', 'two'], 'C': [1, 2, 3, 4], 'D': [5, 6, 7, 8]})

stacked = df.set_index(['A', 'B']).stack()

unstacked = stacked.unstack()

print(stacked)
print("*"*30)
print(unstacked)

A    B
foo  one  C    1
          D    5
     two  C    2
          D    6
bar  one  C    3
          D    7
     two  C    4
          D    8
dtype: int64
******************************
         C  D
A   B
bar one  3  7
    two  4  8
foo one  1  5
    two  2  6

## Pivot table

In [10]:
df = pd.DataFrame({'A': ['foo', 'foo', 'bar', 'bar'], 'B': ['one', 'two', 'one', 'two'], 'C': [1, 2, 3, 4], 'D': [5, 6, 7, 8]})

pivot_table = df.pivot_table(index='A', columns='B', values=['C', 'D'], aggfunc='mean')

pivot_table

      C       D
B   one two one two
A
bar   3   4   7   8
foo   1   2   5   6