In [1]:
import pandas as pd

In [4]:
## Series

obj = pd.Series([4, 7, -5, 3])

print(obj, '\n', obj.values, '\n', obj.index)

0    4
1    7
2   -5
3    3
dtype: int64
 [ 4  7 -5  3]
 RangeIndex(start=0, stop=4, step=1)

In [8]:
obj = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

print(obj['a'])
obj['a'] = 27
print(obj['a'])
print('a' in obj)

-5
27
True

In [10]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

obj = pd.Series(sdata, index=states)

obj

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [13]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

obj = pd.Series(sdata, index=states)

obj.name = 'states'
obj.index.name = 'state_name'
print(obj.name, obj.index.name)

states state_name

In [14]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002, 2003],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

df = pd.DataFrame(data)

df.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [15]:
df['pop']

0    1.5
1    1.7
2    3.6
3    2.4
4    2.9
5    3.2
Name: pop, dtype: float64

In [16]:
print(df)

print(df.T)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2
          0     1     2       3       4       5
state  Ohio  Ohio  Ohio  Nevada  Nevada  Nevada
year   2000  2001  2002    2001    2002    2003
pop     1.5   1.7   3.6     2.4     2.9     3.2